In [ ]:
!python -m pip install --upgrade 'sqlalchemy<2.0'

In [ ]:
import pandas as pd

Сделаем запрос для подключения и чтобы посмотреть название городов на английском языке

In [ ]:
df_City = pd.read_sql(
"""
SELECT
  *
FROM
  City;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_City

Найдем в таблице города, которые нам требуются

In [ ]:
df_City_1 = pd.read_sql(
"""
SELECT
  *
FROM
  City
  Where name = 'Istambul' or name = 'Madrid' or name = 'Ekaterinburg' or name = 'Kirov' or name = 'Ples' or name = 'Ottava' or name = 'Bishkek' or name = 'Belgrade' or name = 'Berlin' or name = 'Paris';
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df_City_1  # Находит не все города, остальные взяты из интернета

Получаем данные в CSV

In [ ]:
df_otp = pd.read_csv ("/content/Итоговый проект_аналитика.csv")

In [ ]:
df_otp

In [ ]:
df_pro = df_City_1 [['name','population']]

In [ ]:
df_pro

In [ ]:
df_tab=pd.merge(
    df_otp,
    df_pro,
      left_on='Название города на английском языке',
      right_on='name'

)

In [ ]:
df_tab

In [ ]:
df_mean=df_tab[['population']]
df_mean_tab=df_mean.mean
df_mean

In [ ]:
df_pin=df_tab[['Название города на английском языке', 'population']]

In [ ]:
df_pin

In [ ]:
df_average=df_pin.groupby('Название города на английском языке').mean('population')

In [ ]:
df_average